*.[ao]
*.lineno
.deps/
.dirstamp
Makefile.in
Makefile
/Makefile.am.user
/aclocal.m4
/autom4te.cache/
/configure
/config.log
/config.status
/doc/*-man.html
/scripts/compile
/scripts/config.*
/scripts/depcomp
/scripts/install-sh
/scripts/missing
/src/config.h
/src/config.h.in
/src/odyssey
/src/stamp-h?
